<div id="gitment"></div>

<!-- 主页不要加载gitment -->
<% if (!index){ %>

<script>
var gitment = new Gitment({
  owner: '20541494',
  repo: 'qingnansun.github.io',
  oauth: {
    client_id: '1b8f252cb212a5ede7fc',
    client_secret: '7bf7a65f0a99fbd9b14121531cd696301eb9308c',
  },
})
gitment.render('gitment')
</script>
 
<% } %>